<h1>Hello World, from 'Hello'</h1>

<!--evaluates but does not output to view  -->
<% 1 + 1 %>

<!--evaluates AND does output to view  -->
<%= 1 + 9 %>
<br />

<% string1 = 'World' %>
<% string2 = '!' %>
<%="Hello #{string1}#{string2}" %><br />

<% @array.each do |n| %>
  <%= n %><br />
<% end %>
<br />

<!--no need to specify ':controller' if link is in same controller  -->
<%= link_to('Index page', {:action => 'index'})%><br />

<br />

ID: <%= @id %><br />
ID(params): <%= params[:id] %><br />
Page <%= @page %><br />
<!--'params' will always be cast as strings, they need to be converted  -->
Next Page <%= @page.to_i + 1 %><br />
